#btn {
    height:30px;
    width:80px;
    text-align: center;
    background-color: rgb(112, 112, 198);
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
}

#img {
    width: auto;
    height: 700px;
}

#note {
    color: red;
}